/*  
   LINK AI CSS
*/
/* @import url(media.css); */
/* @import url(12bool.css); */
/* @import url(useful.css); */

/* 
    RESET
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    CONTAINER
*/
.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* 
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    position: relative;
    height: 100vh;
}

.my-card {
    width:500px;
    position: absolute;

}

.my-card img {
    max-width: 100%;
    object-fit: contain;
}