/*  
   LINK AI CSS
*/
/* @import url(media.css); */
/* @import url(12bool.css); */
/* @import url(useful.css); */

/* 
    RESET
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    CONTAINER
*/
.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* 
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    height: 100vh;
}

#my-card {
    width:500px;
    margin-bottom: 50px;

}

#my-card img {
    max-width: 100%;
    object-fit: contain;
}

button {
    height: 50px;
    width: 50px;
    background-color: white;
}

#my-thumbnail {
    width: 350px;
    background-color: rgba(4, 4, 221, 0.152);
    border: 1px solid rgb(9, 18, 71);
}

#my-thumbnail img {
    max-width: 60px;
    max-height: 95%;
    object-fit: contain;
    cursor: pointer;
}
